<p>Bootcamp Enrollment Form</p>
{{errorMessage}}
<form #userForm='ngForm' (ngSubmit)='onSubmit()' novalidate>
  {{userForm.value|json}}
  <hr/>
  {{user|json}}
  <div>
    <label>Name</label>
    <input #name='ngModel' [class.invalid]='name.touched && name.invalid' required type='text' name='name' [(ngModel)]='user.name'/>
    <small [class.hidden]='name.valid || name.untouched'>Name is required!</small>
  </div>
  {{name.untouched}}
  <div>
    <label>Email</label>
    <input required #email='ngModel' [class.invalid]='email.touched && email.invalid' type='email' name='email' [(ngModel)]='user.email'/>
    <div *ngIf='email.errors && (email.invalid || email.touched)'>
      <small *ngIf='email.errors.required'>Email is required!</small>
      <small *ngIf='email.errors.pattern'>Email must be provided in proper format!</small>
    </div>
  </div>

  <div>
    <label>Phone</label>
    <input #phone='ngModel' required type='tel' pattern='^\d{10}$' [class.invalid]='phone.touched && phone.invalid' name='phone' [(ngModel)]='user.phone'/>
    <!-- <small [class.hidden]='phone.valid || phone.untouched'>Phone number is required and must be 10 digits!</small> -->
    <div *ngIf='phone.errors && (phone.invalid || phone.touched)'>
      <small *ngIf='phone.errors.required'>Phone number is required!</small>
      <small *ngIf='phone.errors.pattern'>Phone number must be 10 digits!</small>
    </div>
  </div>

  <div>
    <select required #topic='ngModel' name='topic' [class.invalid]='topic.invalid && topic.touched' [(ngModel)]='user.topic'>
      <option selected disabled value=''>I am interested in</option>
      <option *ngFor='let topic of topics'>{{topic}}</option>
    </select>
    <small [class.hidden]='topic.valid || topic.untouched'>Please choose a topic!</small>
  </div>

  <div>
    <label>Time Preference:</label>
    <div>
      <input type='radio' name='timePreference' value='Morning' [(ngModel)]='user.timePreference'/>
      <label>Morning (9AM - 12PM)</label>
    </div>
    <div>
      <input type='radio' name='timePreference' value='Evening' [(ngModel)]='user.timePreference'>
      <label>Evening (5PM - 8PM)</label>
    </div>
  </div>

  <div>
    <input name='subscribe' type='checkbox' [(ngModel)]='user.subscribe'/>
    <label>Send me promotional offers</label>
  </div>

  <button [disabled]='userForm.form.invalid || isSubmitted' type='submit'>Submit</button>
</form>
